<h2>医師一覧</h2>

<% @doctor.each do |doctor| %>

<table border="1">
 <tr>
     <!--<th>No.</th><th>氏名</th><th>カナ</th><th>性別</th><th>月曜午前</th><th>月曜午後</th><th>火曜午前</th><th>火曜午後</th><th>水曜午前</th><th>水曜午後</th><th>木曜午前</th><th>木曜午後</th><th>金曜午前</th><th>金曜午後</th><th>土曜午前</th><th>土曜午後</th><th>日曜午前</th><th>日曜午後</th><th>有効／無効</th><th>資格</th>-->
 </tr>   
 <tr>
    <td><%= doctor.id %></td>
    <td><%= doctor.familyname %>  <%= doctor.firstname %></td>
    <td><%= doctor.familykana %>  <%= doctor.firstkana %></td>
    <td><%= doctor.gender %></td>
    <!--<td><%= doctor.monday_am %></td>-->
    <!--<td><%= doctor.monday_pm %></td>-->
    <!--<td><%= doctor.tuesday_am %></td>-->
    <!--<td><%= doctor.tuesday_pm %></td>-->
    <!--<td><%= doctor.wednesday_am %></td>-->
    <!--<td><%= doctor.wednesday_pm %></td>-->
    <!--<td><%= doctor.thursday_am %></td>-->
    <!--<td><%= doctor.thursday_pm %></td>-->
    <!--<td><%= doctor.friday_am %></td>-->
    <!--<td><%= doctor.friday_pm %></td>-->
    <!--<td><%= doctor.saturday_am %></td>-->
    <!--<td><%= doctor.saturday_pm %></td>-->
    <!--<td><%= doctor.sunday_am %></td>-->
    <!--<td><%= doctor.sunday_pm %></td>-->
    <td><%= doctor.enable_disable %></td>
    <td><%= doctor.certification %></td>
    <td><button >編集</button></td>
 </tr>
</table>

<% end %>